- var banner = slice.value[0]

section.banner.content-section
  img(src=banner.image.url)
  div.cta-text
    != RichText.asText(banner.title)
  if banner.linkText[0].text
    a.cta-button(href=Link.url(banner.link, ctx.linkResolver))
      != RichText.asHtml(banner.linkText, ctx.linkResolver)