header.site-header
  a(href='./')
    .logo Example Site
  
  if menuContent != null
    nav
      ul
        each linkItem in menuContent.menuLinks
          li
            - var linkUrl = linkItem.link.linkType === 'Document' ? ctx.linkResolver(linkItem.link) : linkItem.link.url
            a(href=linkUrl)
              != linkItem.label