- var highlight = slice.value[0]

section.highlight.content-section
  .highlight-left
    != RichText.asHtml(highlight.title, ctx.linkResolver)
    != RichText.asHtml(highlight.headline, ctx.linkResolver)
    if ( highlight.link && highlight.linkText )
      p
        a(href=Link.url(highlight.link, ctx.linkResolver)) !{highlight.linkText}
    
  .highlight-right
    img(src=highlight.image.url)