- var highlight = slice.value[0]

section.highlight.content-section
  .highlight-left
    != RichText.asHtml(highlight.title, ctx.linkResolver)
    != RichText.asHtml(highlight.headline, ctx.linkResolver)
    if ( highlight.link && highlight.linkText )
      p
        - var linkUrl = highlight.link.linkType === 'Document' ? ctx.linkResolver(highlight.link) : highlight.link.url
        a(href=linkUrl) !{highlight.linkText}
    
  .highlight-right
    img(src=highlight.image.url)