extends ./layout.pug

block prepend body
  body.homepage
    
    include ./partials/header.pug
    
    -// Homepage Banner Section
    section.homepage-banner(style='background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(' + page.data.backgroundImage.url + ')')
      .banner-content.container
        h2.banner-title !{page.data.title}
        p.banner-description !{page.data.tagline}
        if ( page.data.buttonLink && page.data.buttonText )
          - var linkUrl = page.data.buttonLink.linkType === 'Document' ? ctx.linkResolver(page.data.buttonLink) : page.data.buttonLink.url
          a.banner-button(href=linkUrl) !{page.data.buttonText}
    
    -// Content Section
    div.container
    
      -// Display the slices    
      for slice in page.data.body
        case slice.slice_type
          when 'heading'
            include ./partials/heading.pug
          when 'textSection'
            include ./partials/text-section.pug
          when 'fullWidthImage'
            include ./partials/full-width-image.pug
          when 'highlight'
            include ./partials/highlight.pug
          when 'gallery'
            include ./partials/gallery.pug

