extends ./layout.pug

block body

  include ./partials/header.pug

  -// Content Section
  div.grid-container(data-wio-id=page.id)

    -// Display the slices
    for slice in page.data.body
      case slice.slice_type
        when 'highlight-section'
          include ./partials/highlight-section.pug
        when 'banner'
          include ./partials/banner.pug
        when 'banner-look'
          include ./partials/banner-look.pug
        when 'editorial-look'
          include ./partials/editorial-look.pug
        when 'text-section'
          include ./partials/text-section.pug
        when 'image-slider'
          include ./partials/image-slider.pug 
        when 'gallery'
          include ./partials/gallery.pug
        when 'video'
          include ./partials/video.pug
