@charset "UTF-8";
.site-header {
  height: 30px;
  padding: 20px 0; }

.site-header,
.site-header a {
  color: #484d52;
  font-weight: 700; }

.site-header nav a:hover {
  color: #72767B; }

.homepage .site-header,
.homepage .site-header a {
  color: #ffffff; }

.homepage .site-header nav a:hover {
  color: #c8c9cb; }

.site-header .logo {
  display: inline-block;
  font-size: 22px;
  font-weight: 900; }

.site-header nav {
  float: right; }

.site-header nav ul {
  margin: 0; }

.site-header nav li {
  display: inline-block;
  margin-left: 40px; }

@media (max-width: 1060px) {
  .site-header {
    padding-left: 20px;
    padding-right: 20px; } }

.container, header, footer {
  max-width: 980px;
  margin: auto; }

.content-section {
  margin-bottom: 3.75rem; }

footer {
  color: #9A9A9A;
  font-size: 16px;
  font-style: italic;
  text-align: center; }

footer p {
  border-top: 1px solid #DADADA;
  padding: 2rem 0;
  margin-bottom: 0; }

footer a {
  font-weight: bold;
  text-decoration: none; }

.footer-logo {
  width: 30px;
  margin-top: 10px; }

.wio-link {
  background-color: #363566 !important;
  color: white;
  position: fixed;
  z-index: 10000;
  padding: 6px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  bottom: 30px;
  left: 30px;
  height: 50px;
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4); }

.wio-link img {
  display: none; }

.wio-link:after {
  font-family: 'Material Icons';
  content: '\E3C9';
  color: white;
  font-size: 24px; }

.banner {
  position: relative; }
  .banner .cta-text {
    position: absolute;
    top: 90px;
    left: 60px;
    max-width: 400px;
    font-size: 30px;
    line-height: 40px;
    color: white; }
  .banner .cta-button {
    position: absolute;
    bottom: 90px;
    left: 60px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background: #f05033; }
  .banner .cta-button p {
    display: inline;
    margin: 0;
    padding: 0; }
  .banner .cta-button p span.Prospect,
  .banner .cta-button p span.Client {
    display: none; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .gallery .gallery-item {
    -webkit-box-flex: 0 1 48%;
    -moz-box-flex: 0 1 48%;
    -webkit-flex: 0 1 48%;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%; }
  .gallery .gallery-link {
    margin-top: -20px;
    text-transform: uppercase; }

/* Highlight Section */
.highlight {
  position: relative;
  overflow: auto; }
  .highlight .highlight-left {
    width: 43%;
    float: left; }
  .highlight .highlight-right {
    width: 48%;
    float: right; }

/* Homepage Banner */
.homepage-banner {
  margin: -70px 0 80px;
  padding: 10em 0 8em;
  background-image: url("images/overlay.png"), url("../../images/banner.jpg");
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  line-height: 1.75;
  text-align: center; }
  .homepage-banner .banner-content {
    text-align: center; }
  .homepage-banner .banner-title, .homepage-banner .banner-description {
    width: 90%;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto; }
  .homepage-banner .banner-title {
    color: #ffffff;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px; }
  .homepage-banner .banner-button {
    background: #ffffff;
    border-radius: 7px;
    color: #484D52;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 40px; }
  .homepage-banner .banner-button:hover {
    background: #c8c9cb; }

.text-section-2col {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px; }

.text-section-1col img,
.text-section-2col img,
.gallery img {
  margin-bottom: 1rem; }

.text-section-1col p:last-child,
.text-section-2col p:last-child {
  margin-bottom: 0; }

.quote {
  display: block;
  font-family: 'Lora', Serif;
  font-size: 36px;
  font-style: italic;
  font-weight: normal;
  color: #484D52;
  letter-spacing: 1.14;
  line-height: 1.5em;
  quotes: "“" "”" "‘" "’";
  text-align: center; }

.quote:before, .quote:after {
  color: #e9e9e9;
  content: open-quote;
  font-family: 'Lora', Serif;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 0.1em;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: -0.3em; }

.quote:after {
  content: close-quote; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 40px; }
  h2 {
    font-size: 26px; }
  h3 {
    font-size: 18px; }
  .content-section {
    margin-bottom: 2rem; }
  .site-header {
    height: auto; }
  .homepage .site-header {
    position: absolute;
    left: 0;
    right: 0; }
  .site-header .logo {
    display: block;
    text-align: center; }
  .site-header nav {
    float: none;
    text-align: center; }
  .site-header nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px; }
  .homepage-banner {
    margin: 0 0 40px;
    padding: 10em 0 6em; }
  .banner-title {
    font-size: 50px;
    line-height: 50px; }
  .text-section-2col {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }
  .quote {
    font-size: 20px; }
  .gallery-item {
    -webkit-box-flex: 100%;
    -moz-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; }
  .highlight-left,
  .highlight-right {
    width: 100%;
    float: none; } }
